body{
    overflow-x: hidden;
    background-color:rgba(220, 220, 220, 0.451) !important;
    /* background-image: url('/src/images/backimage.avif');
    background-position: cover; */
  }
  
  .btn {
    background-color: #fb771a !important;
    border-color: #fb771a !important;
  }
  
  .card {
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    border-radius: 10px !important;
    max-width: 800px;
    width: 100%;
  }
  
 
  .content {
    background-color: #F6F7FC;
  }

  .form-control {
    height: 3rem;
  }
 
 

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h3 {
    margin-top: 0;
  }
.add{
  background-color: rgb(5, 5, 117);
}
  
 
  
  